.lab{
    text-align: center;
    margin-left: 40vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
    font-size: larger;
    margin-right: 2vw;
}

.uploadpostpic{
    margin: auto;
    width: 20vw ;
}

.cap{
    width: 20vw;
    margin-left: 40vw;
    margin-bottom: 2%;
}
